# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.npy

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and debug files
*.log
*.out
*.err

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# IDE-specific files
.idea/
.vscode/
*.code-workspace

# Data files (optional, don't want to upload generated data)
data/
pi/data_no_encryption/
pi/data_pi_encryption/
pi/data_pi_dummy/
pi/data_pi_0dB_encryption/
pi/data_pi_0dB_single_encryption/
pi/data_pi_40dB_single_encryption/
pi/data_pi_30dB_single_encryption/
arduino/data_arduino_30dB_block_encryption/
arduino/data_arduino_40dB_block_encryption/
pi/data_pi_30dB_block_dummy/
pi/data_pi_40dB_block_dummy/
pi/data_pi_40dB_single_encryption_diff/
arduino/data_arduino*/




# Compiled binary files
*.o
*.pyc
*.exe
*.dll
*.bin

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test artifacts
.cache/
.tox/
*.egg-info/
